body {
	background-color: black;
	color: #CCA8E9;
	font-family: Arial, serif;
	font-size: 25px;
	line-height: 1.6;
	letter-spacing: -1px;
	font-weight: 600;
	text-align: center
}


h1 {
	color: #B983FF;
	font-weight: 750;
	letter-spacing: -3px;
	text-transform: uppercase;
}


h2 {
	color: #CADEFC;
}


.img-profile {
	border-radius: 50%;
}


a:hover {
	color: #CADEFC;
}


div {
	background: darkviolet;
	margin: 50px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 1.0);
	border-radius: 6px;
	padding-bottom: 2px;
	padding-top: 2px;
}


.btn-blue {
	background-color: #B983FF;
	color: black;
	padding: 15px 15px;
	border-radius: 6px;
}

.btn-blue:hover {
	background-color: #CADEFC;
	color: black;
}


.list-inline {
	list-style: none;
}


.list-inline li {
	padding: 5px
}


.list-inline i {
	font-size: 30px;
	color: #B983FF;
}


.list-inline i:hover {
	font-size: 30px;
	color: #CADEFC;
}


@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}